{% extends 'includes/base.html' %}

{% load static %}

{% block title %} Homepage {% endblock %}

{% block content %} 
<h1>All Members</h1>
<br>
<br>
<br>
<br>

{% for object in members %}
    <hr>
    {{ object.first_name }} <br>
    {{ object.last_name }} <br>
    {{ object.email }} <br>
    <hr>
{% endfor %}
<br><br>

<h1>Add New Member</h1>
<br>
<form method="POST" action="/">
    {% csrf_token %}
    <input type="text" name="first_name" placeholder="Enter Name">
    <input type="text" name="last_name" placeholder="Enter Surname">
    <input type="text" name="email" placeholder="Enter E-mail">
    <input type="submit" value="Add Member" />
</form>

<!--<a href="{% url 'members:create_member' %}"> <button> Add More </button> </a>-->
{% endblock %}